{% extends 'base.html' %}
{% load static %}
{% block title %}Dapper Deals | Интернет-магазин техники Apple{% endblock %}
{% block page_content %}
<main class="main">
    <div class="page-header text-center" style="background-image: url({%static 'images/page-header-bg.jpg' %})">
        <div class="container">
            <h1 class="page-title">{{ user.username }}<span>Profile</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'products:index' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'profiles:profile' %}">Profile</a></li>
                <li class="breadcrumb-item active" aria-current="page">Password Change</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab"
                                   href="#tab-password" role="tab" aria-controls="tab-password" aria-selected="true">Password
                                    Change</a>
                            </li>
                        </ul>
                    </aside><!-- End .col-lg-3 -->

                    <div class="col-md-8 col-lg-9">
                        <div class="tab-content">
                            {% if messages or password_form.errors %}
                            <div class="alert {% if messages %} alert-success {% else %} alert-warning {% endif %} alert-dismissible fade show"
                                 role="alert">
                                {% if messages %}
                                {% for message in messages %}
                                {{ message }}
                                {% endfor %}
                                {% else %}
                                {{ password_form.errors }}
                                {% endif %}

                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><i class="icon-close"></i></span>
                                </button>

                            </div>
                            <br>
                            {% endif %}
                            <div class="tab-pane fade show active" id="tab-password" role="tabpanel"
                                 aria-labelledby="tab-password-link">
                                <form action="{% url 'profiles:change_password' %}" method="post">
                                    {% csrf_token %}
                                    <label for="{{ password_form.old_password.id_for_label }}">Current password
                                        (leave
                                        blank to leave unchanged)</label>
                                    {{ password_form.old_password }}
                                    <label for="{{ password_form.new_password1.id_for_label }}">New password (leave
                                        blank to leave unchanged)</label>
                                    {{ password_form.new_password1 }}
                                    {{ password_form.new_password1.help_text }}
                                    <label for="{{ password_form.new_password2.id_for_label }}">Confirm new
                                        password</label>
                                    {{ password_form.new_password2 }}
                                    <button type="submit" class="btn btn-outline-primary-2">
                                        <span>SAVE CHANGES</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                </form>
                            </div><!-- .End .tab-pane -->
                        </div>
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
<div class="container">
    <hr class="mb-0">
</div><!-- End .container -->

{% endblock %}