{% extends 'base.html' %}
{% load static %}
{% block title %}Dapper Deals | Интернет-магазин техники Apple | {{ user.username }} profile {% endblock %}
{% block page_content %}
<main class="main">
    <div class="page-header text-center" style="background-image: url({%static 'images/page-header-bg.jpg' %})">
        <div class="container">
            <h1 class="page-title">{{ user.username }}<span>Profile</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'products:index' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Profile</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab"
                                   href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab"
                                   aria-controls="tab-orders" aria-selected="false">Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'wishlist:wishlist' %}">My Wishlist</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'shopcart:shopcart' %}">Shop Cart</a>
                            </li>
                            {% if user.is_superuser or user.is_staff %}
                            <li class="nav-item">
                                <a class="nav-link" id="tab-downloads-link"
                                   href="{% url 'admin:index' %}">Admin-Panel</a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account"
                                   role="tab" aria-controls="tab-account" aria-selected="false">Account Information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'profiles:change_password' %}">Change Password</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'profiles:logout' %}">Sign Out</a>
                            </li>
                        </ul>
                    </aside><!-- End .col-lg-3 -->

                    <div class="col-md-8 col-lg-9">
                        <div class="tab-content">
                            {% if messages or form.errors %}
                            <div class="alert {% if messages %} alert-success {% else %} alert-warning {% endif %} alert-dismissible fade show"
                                 role="alert">
                                {% if messages %}
                                {% for message in messages %}
                                {{ message }}
                                {% endfor %}
                                {% else %}
                                {{ form.non_field.errors }}
                                {% endif %}

                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><i class="icon-close"></i></span>
                                </button>

                            </div>
                            <br>
                            {% endif %}
                            <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel"
                                 aria-labelledby="tab-dashboard-link">
                                <p>Hello <span class="font-weight-normal text-dark">{{ user.username }}</span> (not
                                    <span
                                            class="font-weight-normal text-dark">{{ user.username }}</span>? <a
                                            href="{% url 'profiles:logout' %}">Log out</a>)
                                    <br>
                                    From your account dashboard you can view your <a href="#tab-orders"
                                                                                     class="tab-trigger-link">recent
                                        orders</a>, manage your <a href="#tab-account" class="tab-trigger-link">shipping
                                        addresses and account information</a>, and <a href="{% url 'profiles:change_password' %}">edit
                                        your password</a>.</p>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="card card-dashboard">
                                            <div class="card-body">
                                                <h3 class="card-title">Account Information</h3>
                                                <!-- End .card-title -->

                                                <p>Account status: {% if user.is_active %} active {% else %} inactive {% endif %}<br>
                                                    User Name: {{ user.username }}<br>
                                                    First Name: {{ user.first_name }}<br>
                                                    Last Name: {{ user.last_name }}<br>
                                                    Mail: {{ user.email }}<br>
                                                    <a href="#tab-account" class="tab-trigger-link">Edit <i
                                                            class="icon-edit"></i></a></p>
                                            </div><!-- End .card-body -->
                                        </div><!-- End .card-dashboard -->
                                    </div><!-- End .col-lg-6 -->

                                    <div class="col-lg-6">
                                        <div class="card card-dashboard">
                                            <div class="card-body">
                                                <h3 class="card-title">Shipping Address</h3><!-- End .card-title -->

                                                <p>Country: {{ user.country }}<br>
                                                    City: {{ user.city }}<br>
                                                    Street: {{ user.street }}<br>
                                                    House: {{ user.house}}<br>
                                                    Flat: {{ user.flat }}<br>
                                                    <a href="#tab-account" class="tab-trigger-link">Edit <i
                                                            class="icon-edit"></i></a></p>
                                            </div><!-- End .card-body -->
                                        </div><!-- End .card-dashboard -->
                                    </div><!-- End .col-lg-6 -->
                                </div><!-- End .row -->
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-orders" role="tabpanel"
                                 aria-labelledby="tab-orders-link">
                                <p>No order has been made yet.</p>
                                <a href="{% url 'products:index' %}"
                                   class="btn btn-outline-primary-2"><span>GO SHOP</span><i
                                        class="icon-long-arrow-right"></i></a>
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="tab-account" role="tabpanel"
                                 aria-labelledby="tab-account-link">
                                <h3 class="card-title"><i class="icon-user"></i> Account Information</h3><br>
                                <form action="{% url 'profiles:profile' %}" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label for="{{ form.first_name.id_for_label }}">First Name</label>
                                            {{ form.first_name }}
                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-sm-6">
                                            <label for="{{ form.last_name.id_for_label }}">Last Name *</label>
                                            {{ form.last_name }}
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label for="{{ form.username.id_for_label }}">Username</label>
                                            {{ form.username }}
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="{{ form.email.id_for_label }}">Email address</label>
                                            {{ form.email }}
                                        </div>
                                    </div>
                                    <br>
                                    <h3 class="card-title"><i class="icon-home"></i> Shipping Address</h3><br>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label for="{{ form.country.id_for_label }}">Country</label>
                                            {{ form.country }}
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="{{ form.city.id_for_label }}">City</label>
                                            {{ form.city }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label for="{{ form.street.id_for_label }}">Street</label>
                                            {{ form.street }}
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="{{ form.house.id_for_label }}">House</label>
                                            {{ form.house }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label for="{{ form.flat.id_for_label }}">Flat</label>
                                            {{ form.flat }}
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-outline-primary-2">
                                        <span>SAVE CHANGES</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                </form>
                            </div><!-- .End .tab-pane -->
                        </div>
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
<div class="container">
    <hr class="mb-0">
</div><!-- End .container -->

{% endblock %}